/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* Headboard */
.header {
  width: 100%;
  border: solid black 2px;
  position: fixed;
  padding: 10px 0px 13px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* z-index: 10; */
}
.logo {
  width: 155px;
}
.list {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
}
.link {
  padding: 0 20px;
  color: #4a4a4a;
}

/* main */
.main {
  width: 100%;
  height: 100vh;
  background-color: #3cdbc0;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(250px);
  color: #ffffff;
}
